#include "../../Flutter/NotificationResponse-dev.xcconfig"
#include "../../Flutter/Generated.xcconfig"
SWIFT_VERSION = 5.0
IPHONEOS_DEPLOYMENT_TARGET = 15.0
CODE_SIGN_ENTITLEMENTS = SymptomNotificationContent/SymptomNotificationContent.entitlements
SYMPTOM_HEADER_ICON_NAME = SymptomHeaderIconDev
SYMPTOM_HEADER_APP_NAME = 먹어도돼? Dev
